

.flex-container {
    display: flex;
}

.flex-container1 {
    display: flex;
    /* 决定主轴方向 */
    flex-direction: row; 
    /* 用于指定 flex 项在 flex 方向（direction）上的对齐位置 */
    justify-content: space-evenly;
    /* 控制 flex 项在交叉轴（cross axis）上的对齐方式 */
    align-content: space-evenly;
    /* flex 项在交叉轴上的对齐 */
    align-items: center;

    /* 允许 flex 项多行/列排列 
        决定当排列不下时是否换行以及换行的方式 */
    flex-wrap: wrap;
}

/* 对齐某个特定的 flex 项 */
.flex-bottom {
    align-self: flex-end;
}

.flex-item1 {
    flex-grow: 0;
}

.flex-item2 {
    flex-grow: 1;
}

.flex-item3 {
    flex-grow: 2;
}

/* 以下为辅助样式 */

.flex-container {
    width: 90px;
    padding: 10px;
    background-color: #f0f0f0;
}
.flex-container .flex-item {
    padding:20px 0;
    background-color: #B1FF84;
    text-align: center;
    width: 30px;
}
.flex-container .flex-item:first-child { 
    background-color: #F5DE25;
}
.flex-container .flex-item:last-child {
    background-color: #90D9F7;
}
